{% load static %}
<html ng-app="kiosk">
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/kiosk.css' %}" />
	<script src="{% static 'js/angular.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/kiosk.js' %}"></script>
	<script src="{% static 'js/kioskCtrl.js' %}"></script>
</head>
{% block content %}
{% endblock %}
</html>
